body

{
    background-color: #993423;
}

.first{
    float: right;
}
.class1{
    float: left;
}


.first{
    background-color:#900087;
    width: 300px;
    display: inline-block;

}
.empty{
    width: 200px;
}
.hello1{
    
    width: 220px;
    height: 20px;
    border: 0px solid white;
    border-bottom: 1px solid #999999;
}
.hello2{
     width: 220px;
    height: 28px;
    border: 2px solid #000000;
    border-bottom: 3px solid #999999;
    margin-left: -28px;

}
.btn{
    margin: -50px;
    width: 44px;
    height: 21px;
    border-bottom-left-radius: 10px;
    border-bottom: 5px solid lightgrey;
    border-right: 7px solid lightgrey;

}
.buton{
    margin: -50px;
    border-bottom: 5px solid green;
    background-color: green;
    border-bottom-left-radius: 10px;
}
.one1{
    margin-right: 42px;
}
.one{
    margin-right: 70px;
}
.main{
    margin-left: 540px;
    border: 1px solid #000000;
    width: 270px;
    border-bottom-left-radius: 0px;
    background-color: #556666;
}

